<div class="row d-flex justify-content-center">
    <div class="d-flex justify-content-center col-10  min-vh-100">
        <p class="align-self-center"> U probeerde een pagina te laden die u niet mag bezoeken. Als dit een fout is, neem dan contact op met de administrator. In de navigatiebalk staan pagina's waar u wel heen kunt</p>
    </div>
</div>