@model EditAppointmentViewModel

@{
    if (Model.Id == null) {
        ViewData["Title"] = "Afspraak maken";
    } else {
        ViewData["Title"] = "Afspraak wijzigen";
    }

}

<h1>@ViewData["Title"]</h1>


<div class="row py-3">
    <hr />
    <div class="col-md-4">
        <form asp-action="EditAppointment">
            <div asp-validation-summary="All" aria-label="Validatie van het formulier"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SessionDuration" />
            <input type="hidden" asp-for="PatientId" />
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label">Datum</label>
                <input asp-for="Date" data-date-format="dd-mm-yyyy" type="date" data-val="true" data-val-required="Vul AUB een datum in" id="Date" name="Date">
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label">Tijd</label>
                <input asp-for="StartTime" type="time" data-val="true" data-val-required="Vul AUB een datum in" id="StartTime" name="StartTime">
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Behandelaar</label>
                <div class="container w-100 p-0 m-0">
                    <select class="h-100 w-100" asp-for="EmployeeId" asp-items="@(new SelectList(ViewBag.Employees, "Id", "Name"))">
                        <option value="-1">Kies een van de mogelijkheden</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Afspraak duur: @Model.SessionDuration.ToString("hh\\:mm") uur</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Maak afspraak" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Terug naar home</a>
</div>

